@font-face {
    font-family: 'SF Pro Text Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('SF Pro Text Regular'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('SF Pro Text Medium'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('SF Pro Text Bold'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.ttf') format('ttf');
}