$accent: #2D66EE;
$main: #101828;
$bg: #F2F4F7;
$sub-text:#667085;

%sf-400{
    font-family: 'SF Pro Text Regular', sans-serif;
    font-weight: 400;
}

%sf-500{
    font-family: 'SF Pro Text Medium', sans-serif;
    font-weight: 500;
}

%sf-700{
    font-family: 'SF Pro Text Mediumr', sans-serif;
    font-weight: 700;
}

%inter-700{
    font-family: 'Inter Bold', sans-serif;
    font-weight: 700;
}

%btn{
     border: none;
     background-color: $accent;
     padding: 11px 24px;
     color: #fff;
     @extend %sf-500; 
     border-radius: 8px;
     font-size: 14px;
     line-height: 18px;
}