@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    background-color: #F2F4F7;
    padding-top: 25px;
    @extend %sf-500;
    color: $main;
    padding-bottom: 270px;
    background-image: url('../images/bg-header.png');
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 80px;

    &__top {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px 24px;
        margin-bottom: 80px;
        position: fixed;
        left: 0;
        right: 0;
        max-width: 1220px;
        margin-left: auto;
        margin-right: auto;
        z-index: 999;

        &-inner {
            z-index: 998;
        }

        &-contact {
            display: flex;
            justify-content: space-around;
        }

    }

    &__bottom {
        padding-top: 160px;
    }
}

.header__top-contact a,
.header__top-email--adaptiv {
    color: $accent;
    font-size: 14px;
    line-height: 18px;
    @extend %sf-500;
}

.header__top-email--adaptiv {
    display: none;
}

.header__top-contact--ftelephone {
    padding-left: 37px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/phone-icon.svg');
        width: 24px;
        height: 24px;
        top: -3px;
        left: 0;
        background-repeat: no-repeat;
    }
}

.header__top-contact--email {
    padding-left: 30px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/email-icon.svg');
        width: 24px;
        height: 24px;
        top: -3px;
        left: 0;
        background-repeat: no-repeat;
    }
}

.menu__list {
    display: flex;
    justify-content: space-around;

}

.menu__list-item a {
    color: $main;
}

.menu__list li+li {
    margin-left: 24px;
}

.header__top-contact a+a {
    margin-left: 16px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #2D66EE;
    @extend %inter-700;
    transition: all .5s;
}

.header__bottom {

    &-text {
        max-width: 600px;
        width: 100%;
        margin-bottom: 65px;
    }

    &-text--title {
        @extend %inter-700;
        font-size: 36px;
        line-height: 52px;
        margin-bottom: 24px;
    }

    &-text-descr {
        @extend %sf-500;
        font-size: 15px;
        line-height: 30px;
    }

    &-callback {
        max-width: 676px;
        width: 100%;
        background-color: #fff;
        padding: 24px;
        border-radius: 12px;

        &--text {
            @extend %inter-700;
            font-size: 20px;
            line-height: 24px;
            max-width: 440px;
            margin-bottom: 34px;
        }
    }

    &-callback--form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.accent_text {
    color: $accent;
}

.consult__btn {
    max-width: 132px;
    text-align: left;
}



.about {
    margin-bottom: 50px;

    &__inner {
        display: flex;
    }

    &__cycle {
        max-width: 500px;
        margin-right: 230px;
    }

    &__cycle-title {
        margin-bottom: 32px;
    }

    &__cycle-descr {
        margin-bottom: 34px;
    }

    &__cycle-subtitle {
        margin-bottom: 16px;
    }

    &__cycle-text {
        margin-bottom: 32px;
    }

    &__dev-items {
        @extend %sf-400;
        font-size: 20px;
        line-height: 24px;
        color: $grey;

        li+li {
            margin-top: 28px;
        }
    }

    &__dev-item a {
        color: $grey;
        position: relative;

        &:hover {
            color: $main;
            @extend %sf-600;
            border-bottom: 1px solid $accent;
        }

        &::after {
            position: absolute;
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../images/arrow-icon.svg');
            right: -36px;
        }
    }
}


.project {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #F2F4F7;

    &-title {
        max-width: 450px;
        margin-bottom: 25px;
    }

    &__items-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 295px;
        height: 100%;

        li {
            margin-top: 15px;
        }
    }

    &__item {
        color: $main;
        @extend %sf-500;
        font-size: 17px;
        line-height: 22px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 65px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            left: 0;
            top: 0;
            background-repeat: no-repeat;
        }
    }
}

.social::before {
    background-image: url('../images/project__icons/social.png');
}

.sport::before {
    background-image: url('../images/project__icons/sport.png');
}

.bank::before {
    background-image: url('../images/project__icons/bank.png');
}

.construct::before {
    background-image: url('../images/project__icons/construct.png');
}

.game::before {
    background-image: url('../images/project__icons/game.png');
}

.edu::before {
    background-image: url('../images/project__icons/edu.png');
}

.auto::before {
    background-image: url('../images/project__icons/auto.png');
}

.medic::before {
    background-image: url('../images/project__icons/medic.png');
}

.food::before {
    background-image: url('../images/project__icons/food.png');
}

.market::before {
    background-image: url('../images/project__icons/market.png');
}

.ar::before {
    background-image: url('../images/project__icons/ar.png');
}

.tv::before {
    background-image: url('../images/project__icons/tv.png');
}

.startup::before {
    background-image: url('../images/project__icons/startup.png');
}

.religion::before {
    background-image: url('../images/project__icons/religion.png');
}

.cource::before {
    background-image: url('../images/project__icons/cource.png');
}

.apps__list::before {
    display: flex;

    &-items {
        display: flex;
    }
}

.discuss__inner {
    display: flex;
    justify-content: space-between;
}

.stages__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.faq__items,
.book__form-inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer {
    &__content {
        background-color: #101828;
        border-radius: 12px;
        padding: 24px;
    }

    &__inner {
        display: flex;
        margin-bottom: 40px;

        &-item {
            max-width: 294px;
            width: 100%;
        }
    }

    &__text {
        color: #fff;
        @extend %sf-400;
        font-size: 13px;
        line-height: 16px;
        padding-left: 43px;
        position: relative;
        max-width: 203px;
        margin-left: auto;
        margin-right: auto;

        &::before {
            content: '';
            position: absolute;
            width: 31px;
            height: 16px;
            left: 0;
            top: 0;
            background-image: url('../images/footer__icons/world.svg');
        }
    }
}

.footer__inner-item a {
    color: #fff;
    @extend %sf-600;
    font-size: 17px;
    line-height: 22px;
}

.footer__logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer__logo .logo {
    color: #fff;
}

.contact,
.post,
.adress,
.request {
    position: relative;
    padding-left: 32px;

    &::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 0;
        top: -3px;
    }
}

.contact::before {
    background-image: url('../images/footer__icons/contact.svg');
}

.post::before {
    background-image: url('../images/footer__icons/email.svg');
}

.adress::before {
    background-image: url('../images/footer__icons/adress.svg');
}

.request::before {
    background-image: url('../images/footer__icons/request.svg');
}

.exit__btn,
.menu__btn {
    display: none;
}

@media (max-width: 768px) {
    .header {
        background-size: 83%;
        background-position-x: 366px;
        background-position-y: -114px;
        padding-bottom: 32px;
    }

    .exit__btn {
        border: none;
        background-color: transparent;
    }

    .menu__btn {
        display: block;
        border: none;
        background-color: transparent;
    }


    .menu__list {
        display: block;
        right: 0;
        left: 0;
        top: 178px;
        position: absolute;
        text-align: center;
        background-color: #fff;

        li+li {
            margin-left: 0px;

        }

        li {
            padding-top: 32px;
            background-color: #fff;
        }

        transition: all .3s;
        transform: translateY(-1500%);
    }

    .header__top-contact.header__top-contact--active,
    .menu__list.menu__list--active {
        transform: translateY(0);
        transition: all .3s;
        background-color: #fff;
    }

    .header__top-contact {
        position: absolute;
        display: block;
        right: 0;
        left: 0;
        text-align: center;
        top: 590px;
        transition: all .3s;
        padding-top: 55px;
        padding-bottom: 140px;
        transform: translateY(-1500%);
    }

    .header__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header__top-email--adaptiv {
        display: block;
    }

    .exit__btn--active {
        display: inline-block;
        position: absolute;
        right: 0;
        padding-right: 112px;
    }

    .header__top-logo--active {
        text-align: center;
        padding-top: 90px;
        z-index: 5;

        .logo {
            font-size: 48px;
            line-height: 48px;
        }
    }

    .menu__btn--active,
    .header__top-email--adaptiv--active {
        display: none;
    }

    .header__top-inner--active {
        display: block;
        position: relative;
        z-index: 5;
    }

    .menu__list-item-link {
        font-size: 36px;
        line-height: 52px;
    }

    .header__bottom {
        &-text {
            max-width: 383px;
            width: 100%;
        }

        &-callback {
            max-width: 383px;
            width: 100%;
            padding: 32px;
        }

        &-callback--form {
            display: block;
        }
    }

    .input-info {
        margin-bottom: 32px;
    }

    .consult__btn {
        max-width: 155px;
        width: 100%;
    }

    .header__bottom-text--title,
    .title {
        font-size: 28px;
        line-height: 40px;
    }

    .about{
        &__cycle {
            max-width: 320px;
            margin-right: 83px;
        }
        &__dev{
            margin-top: 124px;
        }
    }

    .project{
        &__item{
            font-size: 17px;
            line-height: 22px;
        }
        &__items-list{
            max-height: 472px;
        }
    }
    
    .footer__content{
        padding-top: 46px;
        padding-left: 57px;
        padding-bottom: 37px;
    }


    .footer__inner-item a {
        font-size: 14px;
        line-height: 22px;
    }

    .footer__logo .logo{
        font-size: 36px;
        line-height: 28px;
    }
}





@import 'media';