
.header__top {
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    justify-content: space-around;
}

.header__top-contact {
    display: flex;
    justify-content: space-around;
}


.header__bottom-callback--form {
    display: flex;
    justify-content: space-between;
}

.about__inner {
    display: flex;
}

.project__items-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.apps__list {
    display: flex;
}

.apps__list-items {
    display: flex;
}

.discuss__inner {
    display: flex;
    justify-content: space-between;
}


.stages__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.faq__items,
.book__form-inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer__inner{
    display: flex;
}


